@inject IcatalogService catalogService
@inject NavigationManager NavigationManager


<div class="popup-section">
    <div class="modal-content">
        <span class="close" @onclick="ClosePopup">&times;</span>
        <h2>Crear Nueva Categoría</h2>
        <form @onsubmit="SaveCategory">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" @bind="CategoryName" required>

            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

@code 
{
    [Parameter]
    public EventCallback OnSave { get; set; }
    
    // Define fields to bind with input elements
    private string CategoryName;
    public async Task ClosePopup() 
    {
        await OnSave.InvokeAsync();
    }
    
    public async Task SaveCategory()
    {
        await catalogService.AddCategoryAsync(CategoryName);
        // Optionally, notify parent component that save button is clicked
        await OnSave.InvokeAsync();
    }
}