@inject IToolsService ToolsService
@inject SweetAlertService Swal

@using NovaLaundryAppWebAdminBlazor.Server.Services
@using NovaLaundryAppWebAdminBlazor.Server.ViewModels
@using NovaLaundryAppWebAdminBlazor.ModelsHalia

<div class="popup-section">
    <div class="modal-content">
        <span class="close" @onclick="ClosePopup">&times;</span>
        <h2>Actualizar Empresa Tercerizada</h2>
        @if (ThirdParty != null)
        {
            <!-- Render the content that depends on Product -->
            <form @onsubmit="UpdateThirdPartySave">
                @if(currentPage == 1)
                {
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" @bind="Name" required>

                    <label for="ComercialName">Nombre Comercial</label>
                    <input type="text" id="ComercialName" name="ComercialName" @bind="ComercialName">

                    <label for="ClaveEmpresa">Clave Empresa</label>
                    <input type="text" id="ClaveEmpresa" name="ClaveEmpresa" @bind="ClaveEmpresa">
                    
                    <button class="btn btn-primary" type="button" @onclick="GoToNextPage">Siguiente</button>
                }
                else if(currentPage == 2)
                {
                    <label for="Ruc">Ruc</label>
                    <input type="text" id="Ruc" name="Ruc" @bind="Ruc">

                    <label for="Direccion">Direcci칩n</label>
                    <input type="text" id="Direccion" name="Direccion" @bind="Direccion">

                    <label for="Telefono">Telefono</label>
                    <input type="text" id="Telefeno" name="Telefono" @bind="Telefono">

                    <div class="btns-section">
                        <button class="btn btn-primary" type="button" @onclick="GoToPreviousPage">Atr치s</button>
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </div>
                }
            </form>
        }
        else
        {
            <p>Cargando...</p>
        }
    </div>
</div>

@code 
{
    [Parameter]
    public EventCallback OnSave { get; set; }

    [Parameter]
    public int SelectedItemId { get; set; }
    private EmpresasTercera ThirdParty { get; set; }
    private string Name;
    private string ComercialName;
    private string Ruc;
    private string Direccion;
    private string Telefono;
    private string ClaveEmpresa;
    private int currentPage = 1;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadData(SelectedItemId);
        }
        
        StateHasChanged();
    }

    private async Task LoadData(int entryId)
    {
        ThirdParty = await ToolsService.GetSingleThirdPartyAsync(entryId);

        Name = ThirdParty.Nombre;
        ComercialName = ThirdParty.NombreComercial;
        Ruc = ThirdParty.Ruc;
        Direccion = ThirdParty.Direcci칩n;
        Telefono = ThirdParty.Telefono;
        ClaveEmpresa = ThirdParty.CodigoEmpresa;
    }
    
    public async Task ClosePopup() 
    {
        await OnSave.InvokeAsync();
    }

    private async Task UpdateThirdPartySave()
    {
        if(Name == null || Name == string.Empty)
        {
            _ = Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Atenci칩n",
                    Text = "Asegurate de ingresar el nombre de la empresa tercerizada",
                    Icon = SweetAlertIcon.Warning,
                    ConfirmButtonText = "Ok",
                    CancelButtonText = "Volver"
                });

            currentPage = 1;
            return;
        }

        string comercialName = ComercialName ?? string.Empty;
        string ruc = Ruc ?? string.Empty;
        string direccion = Direccion ?? string.Empty;
        string telefono = Telefono ?? string.Empty;
        string claveEmpresa = ClaveEmpresa ?? string.Empty;

        await ToolsService.UpdateThirdPartyAsync(SelectedItemId, Name, comercialName, ruc, direccion, telefono, claveEmpresa);
        
        // Notify parent component that save button is clicked
        await OnSave.InvokeAsync();
    }

    private void GoToNextPage()
    {
        currentPage = 2;
    }

    private void GoToPreviousPage()
    {
        currentPage = 1;
    }
}