.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

.btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: 2px solid #4CAF50; /* Borde del botón */
    border-radius: 8px; /* Borde redondeado */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al pasar el ratón */
}

/* Estilos hover del botón */
.btn-volver:hover {
    background-color: white; /* Cambio de color de fondo al pasar el ratón */
    color: #4CAF50; /* Cambio de color del texto al pasar el ratón */
}

.catalog-cnt {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: normal; /* Distribute items evenly */
    align-items: flex-start; /* Align items at the start of the cross axis */
    padding: 10px 10px;
}

.section-item {
    width: calc(40% - 20px); /* Set a fixed width with margin included */
    margin: 0 10px 20px 0; /* Add margin between items */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-content {
    margin-bottom: 10px; /* Add margin bottom to the content */
}

.btn-cat {
    background-color: #CC9E9E;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cat:hover {
    background-color: #B66667;
}

.catalog-cnt.tools {
    justify-content: normal;
}

.section-item.tools {
    margin: 5px;
}

.section-content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.popup-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
}

.popup-section h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.popup-section label {
    display: block;
    margin-bottom: 5px;
}

.popup-section input[type="text"],
.popup-section button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup-section input[type="text"]::placeholder {
    color: #aaa;
}

.popup-section button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.popup-section button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .catalog-cnt {
        grid-column: span 2;
        flex-direction: column; /* Change to a vertical layout */
        align-items: stretch; /* Stretch items to fill the container */
    }
    .main-container {
        grid-column: span 2;
    }

    .section-item {
        width: 100%; /* Occupy full width on smaller devices */
        margin-bottom: 20px; /* Add some space between items */
    }

    .section-content {
        margin-bottom: 10px; /* Add space between title and description */
    }

    .section-content h2 {
        font-size: 1rem !important;
    }

    .section-content p {
        font-size: 14px !important;
    }
}

/* product poage */

/* Main container */
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Search container */
.search-container {
    margin-bottom: 20px;
}

/* Search form */
.search-form {
    display: flex;
    align-items: center;
}

.btn-volver {
    margin-bottom: 8px;
}

/* Search input */
.search-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Search button */
.search-button,
.create-button {
    padding: 8px 12px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.search-button {
    background-color: #007bff; /* Green */
    margin-right: 5px;
}

.create-button {
    background-color: #28a745; /* Green */
}

/* Search icon */
.search-icon,
.create-icon {
    max-width: 20px;
}

/* Hover effect for search button */
.search-button:hover,
.create-button:hover {
    transform: translateY(-2px);
}

.search-button:hover {
    background-color: #0056b3; /* Darker blue */
}

.create-button:hover {
    background-color: #218838; /* Darker green */
}

.thirdparties-cnt {
    overflow-x: auto;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Table header */
.table th {
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 2px solid #ccc;
}

/* Table body */
.table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

/* Action button */
.action-button {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.update {
    background-color: #007bff; /* Blue */
    margin-bottom: 5px;
}

.update:hover {
    background-color: #0056b3; /* Darker blue */
}

.block {
    background-color: #ff0000;
}

.block:hover {
    background-color: #9f0000;
}

/* Hover effect for action button */
.action-button:hover {
    transform: translateY(-2px);
}

.providers-act {
    font-size: 14px;
}

@media (max-width: 1040px) and (max-height: 600px) {
    .section-content p {
        font-size: 14px;
    }
}

@media (max-width: 900px) and (max-height: 600px) {
    .section-content h2 {
        font-size: 1rem;
    }
}

@media (max-width: 815px) and (max-height: 600px) {
    .section-content h2 {
        font-size: 0.8rem;
    }
    .section-content p {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .actions-row {
        display: none;
    }
    .actions-btns {
        display: none;
    }
    .create-button {
        display: none;
    }
    .btn-volver {
        padding: 6px 10px;
    }
    .providers-act {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    .main-container {
        padding: 10px;
    }
    .header-home .title {
        font-size: 14px;
    }
    .hide-text {
        display: none;
    }
    .table th {
        font-size: 14px;
    }
    
    /* Table body */
    .table td {
        font-size: 12px;
    }
    .providers-act {
        font-size: 10px !important;
    }
}

@media (max-width: 315px) {
    .main-container {
        padding: 4px;
    }
    .header-home .title {
        font-size: 12px;
    }
    .table th {
        font-size: 12px;
    }
}