.inventory-cnt {
    width: 100%;
    min-height: 88vh;
    position: relative;
    padding: 10px;
}

.inventory-cnt h4 {
    margin-bottom: 20px;
}

.inventory-cnt section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

.inventory-cnt .form-inventory {
    display: flex;
    flex-direction: row;
}

.inventory-cnt section form #productSelect {
    width: 100%;
    max-width: 500px;
    min-width: 380px;
    margin-right: 8px;
    border: solid 1px #000;
    border-radius: 5px;
}

.inventory-cnt section #branchSelect {
    max-width: 200px;
    min-width: 200px;
    border: solid 1px #000;
    border-radius: 5px;
}

.inventory-cnt table th, .inventory-cnt table td {
    font-size: 14px;
}

.inventory-cnt table .form-control {
    max-width: 120px;
}

.footer-inventory {
    position: fixed;
    right: 0%;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: right;
    padding: 10px 10px 10px 240px;
    border-top: 1px solid #797979;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert-section {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    overflow: hidden;
}

.alert-section.True {
    height: 30vh;
}

.alert-section.False {
    height: 0vh;
}

.inventory-main-cnt {
    width: 100%;
    height: 88vh;
    padding: 10px;
}

.inventory-main-cnt h2 {
    font-size: 1.6rem;
}

.inventory-main-cnt .main-header-inventory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.main-header-inventory form {
    display: flex;
    flex-direction: row;
}

.main-header-inventory form input {
    margin: 0px 10px;
}

.main-header-inventory .filter {
    background-color: transparent;
    margin: 0px 6px 0px 6px;
}

.main-header-inventory .btn-secondary {
    background-color: #2ecc71;
    display: flex;
    flex-direction: row;
    border: transparent;
    margin: 0px 0px 0px 6px;
}

.main-header-inventory button img, .main-header-inventory button svg {
    height: 28px;
}

.inventory-main-cnt main h3 {
    margin: 20px 0;
    font-size: 1.2rem;
}

.inventory-main-cnt main table .bx {
    cursor: pointer;
}

.more-data {
    width: 100%;
    height: 0px;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    border: transparent none;
    border-bottom: transparent none;
}

.more-data.showData {
    height: fit-content;
}

.more-data.noShow {
    height: 0px;
}

.more-data td {
    font-size: 12px;
    border-bottom: transparent;
}