/* Sidebar Menu */
.main-cnt {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
}

.btnMenuLateral {
    background-color: black;
}

.btnMenuLateral:hover {
    background-color: dimgrey; /* Cambia el color de fondo al hacer hover */
    color: #ffffff; /* Cambia el color del texto al hacer hover */
}

.sidebar-menu {
    min-width: 230px;
    max-width: 230px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #87705E;
    color: #F1EAE0;
    position: fixed;
}

.main-elements {
    padding-left: 230px;
    width: 100%;
}

.sidebar-menu .logo-section {
    height: 14vh;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 10px;
}

.sidebar-menu .logo-section img {
    width: 100%;
    height: 40px;
    max-height: 40px;
    cursor: pointer;
}

.mobile-view-items {
    display: none;
}

.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu ul li {
    padding: 6px 0;
}

.sidebar-menu ul li:first-child {
    border-top: solid 1px #bdaf9a;
}

.sidebar-menu ul li:last-child {
    border-bottom: solid 1px transparent;
}

.sidebar-menu ul li.dropdown {
    height: fit-content;
}

.sidebar-menu ul div.dropdown-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s;
}

.sidebar-menu ul div.dropdown-content.False {
    height: 0;
}

.sidebar-menu ul div.dropdown-content.True {
    height: 144px;
}

.sidebar-menu ul div.dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 5px 9px 16px;
}

.sidebar-menu ul div.dropdown-content a:hover {
    color: #DFD0B8;
}

.sidebar-menu ul li img {
    margin: 8px 12px 8px 8px;
}

.btn-sidebar {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.btn-sidebar.dropdown {
    padding-right: 15px;
    justify-content: space-between;
}

.arrow {
    border: solid #F1EAE0;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.False {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow.True {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);    
}

.btn-sidebar:hover {
    background-color: #3C5B6F;
}

.btn-sidebar img {
    max-width: 30px;
    margin-right: 10px;
}

.sidebar-menu button {
    background: #87705E;
    width: 100%;
}

.sidebar-menu button p {
    margin: 0 !important;
}

.main-header {
    display: grid;
    padding: 2% 1%;
    border-bottom: solid 1px #e0c1afd5;
    height: 14vh;
}

.header-home {
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-home .title p {
    margin-bottom: 0 !important;
}

.header-home .options {
    display: flex;
    flex-direction: row;
}

.notificaciones-btn {
    width: 30px;
    background-color: #fff;
    border-right: solid 1px #000;
    margin-right: 5px;
}

.options .user {
    display: flex;
    flex-direction: row;
}

.options .user p {
    display: flex;
    flex-direction: row;
    margin-bottom: 0 !important;
    margin-right: 2px;
}

.main-content {
    padding: 2%;
}

.hamburger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}

/* Dropdown Menu for Small Screens */
@media screen and (max-width: 768px) {
    .sidebar-menu {
        position: fixed;
        top: 0;
        left: -260px; /* Hide sidebar by default */
        width: 260px;
        max-width: 260px;
        transition: left 0.3s ease-in-out;
        z-index: 1000; /* Ensure it's above other content */
    }

    .sidebar-menu.open {
        left: 0; /* Show sidebar when open */
    }

    .mobile-view-items {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* height: 14vh; */
    }

    .mobile-view-items .closing {
        color: #e1d7ca;
        font-size: 30px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        /* background-color: #B66667; */
        text-align: center;
        cursor: pointer;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 8px;
        top: 10px;
        z-index: 999;
    }

    .menu-title-closeitm {
        display: flex;
        justify-content: space-between;
        align-items: flex-end; /* Align items to the bottom */
        width: 100%;
    }

    .menu-title-closeitm p {
        height: fit-content !important;
        margin: 0 !important;
    }

    .sidebar-menu .logo-section {
        display: flex;
        justify-content: flex-start;
        position: relative;
    }

    .sidebar-menu .logo img {
        width: 90%;
    }

    .dropdown-toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .dropdown-content a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .main-elements {
        padding-left: 0;
        padding: 5px;
        /* gap: 5px; Gap between grid items */
    }
    .main-header {
        grid-template-columns: 40px 1fr
    }
    .header-home {
        justify-content: flex-end;
    }
    .notificaciones-btn {
        margin-left: 8px;
        margin-right: 0;
        border-right: transparent;
    }
    .header-home .options .user {
        display: none;
    }
    .hamburger-btn {
        display: block;
    }
    .hamburger {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px auto;
        transition: background-color 0.3s ease;
    }
    
    .dropdown-toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
    }
    
    .dropdown-content {
        display: none;
    }
    
    .dropdown-content a {
        color: #fff;
        text-decoration: none;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .sidebar-menu {
        left: -500px;
    }
    .sidebar-menu.open {
        width: 100%;
        max-width: 100%;
    }
    .sidebar-menu .logo-section {
        height: 20vh;
    }
    .sidebar-menu .logo-section img {
        height: 70px;
        max-height: 70px;
    }
    .sidebar-menu .text-light {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    .sidebar-menu .logo-section {
        height: 16vh;
    }
    .sidebar-menu .logo-section img {
        height: 55px;
        max-height: 55px;
    }
}

@media screen and (min-height: 600px) {
    .main-header {
        height: 10vh;
    }
    .sidebar-menu .logo-section {
        height: 14vh;
    }
    .sidebar-menu .logo-section img {
        height: 60px;
    }
    .mobile-view-items .closing {
        width: 30px;
        height: 30px;
        font-size: 40px;
    }
}

@media screen and (min-height: 800px) {
    .sidebar-menu .logo-section {
        height: 10vh;
    }
    .sidebar-menu .logo-section img {
        height: 55px;
    }
}