
@page "/MenuPrincipal"

@inject ProtectedLocalStorage localStorage

<PageTitle>Halia || Home</PageTitle>

<!--Contenedor Principal-->
<div class="main-cnt" style="height:100vh; width:100%;">
    <!--Menu Lateral-->
    <nav class="sidebar-menu" role="navigation" aria-label="Main Menu">
        <div class="logo-section" style="user-select: none;" @onclick="MostrarGraficos">
            <img src="/Logo103.png" alt="Halia System Logo" class="mb-2 mt-2">
        </div>
        <ul>
            <li>
                <a href="#" @onclick:preventDefault="true" class="btn-sidebar first" style="user-select: none;" @onclick="MostrarCatalogo">
                    <img src="/Catalog.png" alt="Catalogo Icon" class="img-fluid mb-2 mt-2">
                    <span class="text-light">Catálogo</span>
                </a>
            </li>
            <li>
                <a href="#" @onclick:preventDefault="true" class="btn-sidebar" style="user-select: none;" @onclick="MostrarInventario">
                    <img src="/inventario.png" alt="Logo" class="img-fluid mb-2" style="max-width: 30px;">
                    <span class="text-light">Inventario</span>
                </a>
            </li>
            <li>
                <a href="#" @onclick:preventDefault="true" class="btn-sidebar" style="user-select: none;" @onclick="MostrarTarjetas">
                    <img src="/tarjeta.png" alt="Logo" class="img-fluid mb-2" style="max-width: 30px;">
                    <span class="text-light">Facturación</span>
                </a>
            </li>
            <li>
                <a href="#" @onclick:preventDefault="true" class="btn-sidebar" style="user-select: none;" @onclick="MostrarReportes">
                    <img src="/reportes.png" alt="Reportes Icon" class="img-fluid mb-2 mt-2">
                    <span class="text-light">Reportes</span>
                </a>
            </li>
            <li>
                <a href="#" @onclick:preventDefault="true" class="btn-sidebar" style="user-select: none;" @onclick="MostrarPromociones">
                    <img src="/prom.png" alt="Promociones Icon" class="img-fluid mb-2 mt-2">
                    <span class="text-light">Promociones</span>
                </a>
            </li>
            <li>
                <a href="#" @onclick:preventDefault="true" class="btn-sidebar" style="user-select: none;" @onclick="MostrarClientes">
                    <img src="/clientes.png" alt="Logo" class="img-fluid mb-2" style="max-width: 30px;">
                    <span class="text-light">Clientes</span>
                </a>
            </li>
            <li>
                <a href="#" @onclick:preventDefault="true" class="btn-sidebar" style="user-select: none;" @onclick="MostrarSoporteTecnico">
                    <img src="/Soporte.png" alt="Soporte Técnico Icon" class="img-fluid mb-2 mt-2">
                    <span class="text-light">Soporte Técnico</span>
                </a>
            </li>
            <li>
                 <button class="btn-sidebar" data-bs-toggle="modal" data-bs-target="#CerrarSesion">
                    <img src="/Logout.png" alt="Logo" class="img-fluid mb-2 mt-2">
                    <p class="text-light">Cerrar Sesión</p>
                </button>
            </li>
        </ul>
    </nav>
    <!--Menu de Superior-->
    <div class="main-elements">
        <header class="header-home">
            <!--Division de Menu Superior-->
            <div class="title">
                <p>@TituloSucursal</p>
                <p>@TituloSeccion</p>
            </div>
            <div class="options">
                <button class="notificaciones-btn" @onclick="MostrarNotificaciones">
                    <img src="/Bell.svg" alt="Logo">
                </button>

                <div class="user">
                    <p>@(MostrarUserResult)</p>
                    <div class="imgCnt">
                        <img src="/Conn.png" alt="Logo" style="max-width: 10px;">
                    </div>
                </div>
            </div>
        </header> 
        <!--Contenido Central-->
        <div style="width:100%;height:92%;background-color:white" id="NavegacionMenu" class="main-content">
            @if (mostrarGraficos)
            {
                <Graficos/>
            }
            else if (mostrarCatalogos)
            {
                <Catalogo/>
            }
            else if (mostrarReportes)
            {
                <Reportes/>
            }
            else if (mostrarPromociones)
            {
                <Promociones/>
            }
            else if (mostrarSoporteTecnico)
            {
                <SoporteTecnico/>
            }
            else if (mostrarClientes)
            {
                <Clientes/>
            }
            else if (mostrarInventario)
            {
                <Inventario/>
            }
            else if (mostrarTarjetas)
            {
                <Tarjetas/>
            }
            else if (mostrarNotificaciones)
            {
                <Notificaciones/>
            }
        </div>
    </div>
</div> 

<!-- Modal -->
<div class="modal fade" id="CerrarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas cerrar sesión?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-plus" aria-hidden="true"></span> Cerrar Sesión
                    </NavLink>
                </button>
            </div>
        </div>
    </div>
</div>


<style>
    .btnMenuLateral {
        background-color: black;
    }

        .btnMenuLateral:hover {
            background-color: dimgrey; /* Cambia el color de fondo al hacer hover */
            color: #ffffff; /* Cambia el color del texto al hacer hover */
        }
</style>

@code {
    //Variables para simular la navegacion(Menu lateral)
    private bool mostrarGraficos = true;
    private bool mostrarCatalogos = false;
    private bool mostrarReportes = false;
    private bool mostrarPromociones = false;
    private bool mostrarSoporteTecnico = false;
    //Variables para simular la navegacion(Menu Superior)
    private bool mostrarClientes = false;
    private bool mostrarInventario = false;
    private bool mostrarTarjetas = false;
    private bool mostrarNotificaciones = false;
    private string TituloSeccion = "Inicio";
    private string TituloSucursal;

    private string MostrarUserResult { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            MostrarUserResult = await MostrarUser();
            TituloSucursal = await MostrarSucursalEmpresa();
            StateHasChanged();
        }
    }

    private async Task<string> MostrarUser()
    {
        var usuario = await localStorage.GetAsync<string>("user");

        return usuario.Value;
    }

    private async Task<string> MostrarSucursalEmpresa()
    {
        var sucursal = await localStorage.GetAsync<string>("sucursalId");

        using(SystemAdminContext db = new SystemAdminContext())
        {
            Sucursale sucursalBuscada = db.Sucursales.Where(s => s.SucursalId == int.Parse(sucursal.Value)).FirstOrDefault();
            Empresa empresaBuscada = db.Empresas.Where(s => s.EmpresaId == sucursalBuscada.EmpresaId).FirstOrDefault();

            return empresaBuscada.NombreComercial+", "+sucursalBuscada.NombreSucursal;
        }
    }

    private void CerrarTodo()
    {
        //Variables para simular la navegacion(Menu lateral)
        mostrarGraficos = false;
        mostrarCatalogos = false;
        mostrarReportes = false;
        mostrarPromociones = false;
        mostrarSoporteTecnico = false;
        //Variables para simular la navegacion(Menu Superior)
        mostrarClientes = false;
        mostrarInventario = false;
        mostrarTarjetas = false;
        mostrarNotificaciones = false;
    }

    private void MostrarGraficos()
    {
        CerrarTodo();
        mostrarGraficos = true;
        TituloSeccion = "Inicio";
    }

    private void MostrarCatalogo()
    {
        CerrarTodo();
        mostrarCatalogos = true;
        TituloSeccion = "Catálogos";
    }

    private void MostrarReportes()
    {
        CerrarTodo();
        mostrarReportes = true; 
        TituloSeccion = "Reportes";
    }

    private void MostrarPromociones()
    {
        CerrarTodo();
        mostrarPromociones = true;
        TituloSeccion = "Promociones";
    }

    private void MostrarSoporteTecnico()
    {
        CerrarTodo();
        mostrarSoporteTecnico = true;
        TituloSeccion = "Soporte Técnico";
    }
    
    private void MostrarClientes()
    {
        CerrarTodo();
        mostrarClientes = true;
        TituloSeccion = "Clientes";
    }

    private void MostrarInventario()
    {
        CerrarTodo();
        mostrarInventario = true;
        TituloSeccion = "Inventario";
    }

    private void MostrarTarjetas()
    {
        CerrarTodo();
        mostrarTarjetas = true;
        TituloSeccion = "Facturación";
    }

    private void MostrarNotificaciones()
    {
        CerrarTodo();
        mostrarNotificaciones = true;
        TituloSeccion = "Notificaciones";
    }
}