@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<div>
    @if (isAuthenticated)
    {
        <div class="main-cnt" style="height:100vh; width:100%;">
         <NovaLaundryAppWebAdminBlazor.Pages.Components.menu.SidebarMenu />

         <div class="main-elements">
            <CascadingValue Value="TituloSeccion">
               <NovaLaundryAppWebAdminBlazor.Pages.Components.menu.HeaderMenu />
            </CascadingValue>            
            
            @Body
         </div>
      </div>
    }
    else
    {
        <div class="unauthenticated-content">
            <!-- Render content for unauthenticated users -->
            <NovaLaundryAppWebAdminBlazor.Pages.Login />
        </div>
    }
</div>

@code 
{
   private bool isAuthenticated = false;
   private string TituloSeccion = "Inicio";

   protected override async Task OnAfterRenderAsync(bool firstRender)
   {
      if(firstRender) 
      {
         // Check if the user is authenticated
         isAuthenticated = await AuthenticationService.IsAuthenticatedAsync();
         StateHasChanged();
      }
   }
}