@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<div>
   @if(isAuthenticated)
   {
      <div class="main-cnt" style="height:100vh; width:100%;">
         <NovaLaundryAppWebAdminBlazor.Pages.Components.menu.SidebarMenu ToggleSidebar="@ToggleSidebar" SidebarVisible="@sidebarVisible" />

         <div class="main-elements">
            <NovaLaundryAppWebAdminBlazor.Pages.Components.menu.HamburgerComponent OnClick="@ToggleSidebar" />
            <NovaLaundryAppWebAdminBlazor.Pages.Components.menu.HeaderMenu />

            @Body
         </div>
      </div>
   }
   else {
      <NovaLaundryAppWebAdminBlazor.Pages.Login />
   }
</div>

@code 
{
   private bool isAuthenticated = false;
   private bool sidebarVisible = false;

   protected override async Task OnAfterRenderAsync(bool firstRender)
   {
      if(firstRender) 
      {
         // Check if the user is authenticated
         isAuthenticated = await AuthenticationService.IsAuthenticatedAsync();
         StateHasChanged();
      }
   }
   private void ToggleSidebar()
   {
      sidebarVisible = !sidebarVisible;
      StateHasChanged();
   }

   [Parameter]
   public EventCallback OnClick { get; set; }   
}