@inherits LayoutComponentBase

<PageTitle>NovaLaundryAppWebAdminBlazor</PageTitle>
<BlazoredToasts />
<div class="page">
    <main style="width:100%; height:100vh; padding:0; margin:0;">
            @Body
    </main>
</div>
