@using Blazored.LocalStorage;
@using NovaLaundryAppWebAdminBlazor.Server.ViewModels;
@using NovaLaundryAppWebAdminBlazor.ModelsHalia;

<div class="header-home">
    <!--Division de Menu Superior-->
    <div class="title">
        <p>@TituloSucursal</p>
    </div>
    <div class="options">
        <button class="notificaciones-btn">
            <img src="/Bell.svg" alt="Logo">
        </button>

        <div class="user">
            <p>@(MostrarUserResult)</p>
            <div class="imgCnt">
                <img src="/Conn.png" alt="Logo" style="max-width: 10px;">
            </div>
        </div>
    </div>
</div>

@code {
    private string TituloSucursal;
    private string MostrarUserResult { get; set; }

    [Inject]
    protected ILocalStorageService _localStorage { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            MostrarUserResult = await MostrarUser();
            TituloSucursal = await MostrarSucursalEmpresa();
            StateHasChanged();
        }
    }

    private async Task<string> MostrarUser()
    {
        var usuario = await _localStorage.GetItemAsync<string>("user");

        return usuario;
    }

    private async Task<string> MostrarSucursalEmpresa()
    {
        var sucursal = await _localStorage.GetItemAsync<string>("sucursalId");

        using (HaliabdContext db = new HaliabdContext())
        {
            Sucursale sucursalBuscada = db.Sucursales.Where(s => s.SucursalId == int.Parse(sucursal)).FirstOrDefault();

            if (sucursalBuscada != null)
            {
                Empresa empresaBuscada = db.Empresas.Where(s => s.EmpresaId == sucursalBuscada.EmpresaId).FirstOrDefault();

                if (empresaBuscada != null)
                {
                    await _localStorage.SetItemAsync("empresaId", empresaBuscada.EmpresaId.ToString());
                    
                    return empresaBuscada.NombreComercial + ", " + sucursalBuscada.NombreSucursal;
                }
            }
        }

        return string.Empty;
    }
}