@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<nav class="sidebar-menu @(SidebarVisible ? "open" : "")" role="navigation" aria-label="Main Menu">
        <div @onclick="HandleLinkClick" class="logo-section" style="user-select: none;">
            <a class="logo" href="/Home">
                <img src="/Logo103.png" alt="Halia System Logo">
            </a>
            <div class="mobile-view-items">
                <span class="closing">&times;</span>
            </div>
        </div>
        <ul>
            <li>
                <a @onclick="HandleLinkClick" href="/catalog" class="btn-sidebar" style="user-select: none;">
                    <img src="/Catalog.png" alt="Catalogo Icon">
                    <span class="text-light">Catálogo</span>
                </a>
            </li>
            <li class="dropdown">
                <div @onclick="OpenDropDown" class="btn-sidebar dropdown" style="user-select: none;">
                    <div>
                        <img src="/inventario.png" alt="Logo">
                        <span class="text-light">Inventario</span>
                    </div>
                    <div class="arrow @opened"></div>
                </div>
                <div class="dropdown-content @opened">
                    <a href="/Inventario">
                        <i class="bx bx-book"></i>
                        Productos en Inventario
                    </a>
                    <a href="/Inventario/Add-new">
                        <i class="bx bx-plus-circle"></i>
                        Agregar a Inventario
                    </a>
                    <a href="/Inventario/Delete">
                        <i class='bx bx-folder-minus'></i>
                        Remover de Inventario
                    </a>
                    <a href="/Ajustes-Inventario">
                        <i class='bx bx-edit-alt'></i>
                        Ajustes de Inventario
                    </a>
                </div>
            </li>
            <li>
                <a @onclick="HandleLinkClick" href="/thirdparties" class="btn-sidebar" style="user-select: none;">
                    <img src="/tools.svg" alt="Logo">
                    <span class="text-light">Empresas Terceras</span>
                </a>
            </li>
            <li>
                <a @onclick="HandleLinkClick" href="/Home" class="btn-sidebar" style="user-select: none;">
                    <img src="/tarjeta.png" alt="Logo">
                    <span class="text-light">Facturación</span>
                </a>
            </li>
            <li>
                <a @onclick="HandleLinkClick" href="/Home" class="btn-sidebar" style="user-select: none;">
                    <img src="/reportes.png" alt="Reportes Icon">
                    <span class="text-light">Reportes</span>
                </a>
            </li>
            <li>
                <a @onclick="HandleLinkClick" href="/Home" class="btn-sidebar" style="user-select: none;">
                    <img src="/prom.png" alt="Promociones Icon">
                    <span class="text-light">Promociones</span>
                </a>
            </li>
            <li>
                <a @onclick="HandleLinkClick" href="/tools" class="btn-sidebar" style="user-select: none;">
                    <img src="/Soporte.png" alt="Soporte Técnico Icon">
                    <span class="text-light">Herramientas</span>
                </a>
            </li>
            <li>
                 <button class="btn-sidebar" data-bs-toggle="modal" data-bs-target="#CerrarSesion">
                    <img src="/Logout.png" alt="Logo">
                    <p class="text-light">Cerrar Sesión</p>
                </button>
            </li>
        </ul>
</nav>

<div class="modal fade" id="CerrarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas cerrar sesión?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button @onclick="SignOut" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-plus" aria-hidden="true"></span> Cerrar Sesión
                    </NavLink>
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool SidebarVisible { get; set; }
    
    [Parameter]
    public EventCallback<bool> ToggleSidebar { get; set; }
    private bool opened = false;

    private async Task HandleLinkClick()
    {
        await ToggleSidebar.InvokeAsync(false); // Close the sidebar when a link is clicked
    }

    private async Task SignOut()
    {
        await AuthenticationService.LogoutAsync();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

    private async void OpenDropDown()
    {
        opened = !opened;
    }
}