@page "/catalog"

@inject NavigationManager NavigationManager

<PageTitle>Halia || Catálogo</PageTitle>

<div class="catalog-cnt">
   <!-- Display main catalog section -->
   <h1>Catálogo</h1>
</div>

@code {
   private void NavigateToPage(string page)
   {
      NavigationManager.NavigateTo($"/Catalog/{page}");
   }
}
