@page "/tools";

@inject NavigationManager NavigationManager

<PageTitle>Halia || Herramientas</PageTitle>

<div class="catalog-cnt">
   <!-- Display main catalog section -->
   <div class="section-item">
      <div class="section-content">
            <h2>Empresas Tercerizadas</h2>
            <p>Explora Empresas. Crea, Edita, y Bloquea empresas.</p>
      </div>
      <button class="btn-cat" @onclick="@(e => NavigateToPage("empresas-terceras"))">Ingresar</button>
   </div>
</div>

@code {
   private void NavigateToPage(string page)
   {
      NavigationManager.NavigateTo($"/tools/{page}");
   }
}
