@page "/tools";

@inject NavigationManager NavigationManager

<PageTitle>Halia || Herramientas</PageTitle>

<div class="catalog-cnt tools">
   <!-- Display main catalog section -->
   <div class="section-item tools">
      <div class="section-content">
            <h2>Sucursales Halia</h2>
            <p>Explora, Crea, Edita, Y Bloquea Sucursales.</p>
      </div>
      <button class="btn-cat" @onclick="@(e => NavigateToPage("sucursales"))">Ingresar</button>
   </div>
</div>

@code {
   private void NavigateToPage(string page)
   {
      NavigationManager.NavigateTo($"/tools/{page}");
   }
}
